.container_teste {
    background-image: url('../img/fundo-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.box_teste {
    width: 50vw;
    height: 80vh;

    background-color: #FFF;

    box-shadow: 0px 0px 999px black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo_teste
 {
    width: 15vw;
    
}
.title_teste {
    text-transform: uppercase;
    font-size: 30px;

    height: 1%;
}

.form_teste {
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.form_teste input{
    width: 95%;
}
.inputs_top_left,
.inputs_top_right {
    height:15vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


.inputs_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*input gerais*/
input{
    border-radius: 200px;
    
}

/*input de cada campo*/
.input_nome{
    border-color: yellow;
    
   
  
    
}


.input_cpf{
    border-color: tomato;
   
    
}


.input_email{
border-color: violet;



}

.input_data{
    border-color: green;
}

.input_tel{
    border-color: indigo;
}

.input_confirma{
    border-color: chartreuse;
}




.form_registration input {
    padding: 10px;

    border: 3px solid #222;

    height: 35px;
    width: 20vw;

    transition-duration: .5s;
}

.form_registration input:hover,
.form_registration input:focus {
    border-color: var(--cor-primaria);
}

.btn_regitration {
    background-color: var(--cor-primaria);

    transition-duration: .2s;
}

.btn_regitration:hover {
    background-color: #222;
    color: var(--cor-primaria);

    transform: scale(1.03);
}

.btn_regitration:active {
    transform: scale(1.0001);
}