@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
    outline: none;
    list-style: none;
}

section {
    height: 100vh;
    width: 100%;
}

.index-content {
    display: flex;
}

.box-text-index {
    width: 50%;
    position: relative;
    left: 97px;
    padding-top: 113px;
}

.index-img {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 43px;
}

.info-index h1{
    font-size: calc(4em + 1vw);
    font-weight: bold;
    margin-bottom: 20px;
    font-family: var(--font-defaut);
    color: var(--font-dark-color);
}

.info-index h3 {
    font-size: 30px;
    font-weight: lighter;
margin-bottom: 20px;
font-family: var(--font-defaut);
}



.btn-voltar {
    text-align: center;
text-transform: uppercase;
border: none;
border-radius: 10px;
height: 40px;
width: 47%;
cursor: pointer;
margin-left: 123px;
margin-top: 24px;
background-color: var(--cor-secundaria);
color: rgb(255, 255, 255);
border-radius: 10px;
}